body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    overflow: hidden;
}

.background {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F5F5F5;
}

/* Efecto de sombra en el formulario */
.form-container {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 10;
}

/* Cuadros en todo el fondo */
.grid-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.box {
    width: 40px;
    height: 40px;
    margin: 2px;
    background-color: transparent; /* Ahora los cuadros inician transparentes */
    transition: background-color 0.1s ease-in-out, opacity 0.5s ease-out;
}
.rainbow-text {
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
    background-image: linear-gradient(90deg, 
        #070A09, #E4EAF0, #FFCF49, #EA5C00, #F04302);
    background-size: 300% 100%;
    -webkit-background-clip: text;
    color: transparent;
    animation: rainbowAnimation 3s infinite alternate;
}

@keyframes rainbowAnimation {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}